# Build Folders
bin/
obj/
out/
publish/

# User-specific files
*.user
*.suo
*.vs/
.vscode/

# Logs
*.log

# NuGet Packages
*.nupkg
*.snupkg
**/packages/

# Temporary files
*.tmp
*.temp

# Visual Studio Code settings
.vscode/

# Rider settings
.idea/
